# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.opensdf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opensdf
*.lastbuildstate
*.suo
*.tlog
*.pdb
*.pdb
*.log
Axzor/Axzor.v12.suo
Axzor/Axzor/Debug/Axzor.log
Axzor/Axzor.v12.suo
*.idb
*.log
*.tlog
*.log
